/*
 * ─── 📦 FONT IMPORTS ─────────────────────────────────────────────────
 */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lobster&family=Manrope:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");

/*
 * ─── 🍇 CSS RESET ──────────────────────────────────────────────────────────────────
 */

html,
body,
div,
span,
applet,
h1,
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: "Poppins", sans-serif;
    color: rgb(49, 49, 49);
}

a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}
ol,
ul {
    list-style: none;
}

/*
 * ─── 🌍 GLOBAL CSS ─────────────────────────────────────────────────────────────────
 */
.container {
    width: 1200px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.button {
    background: #ffbf86;
    border: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 25px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex {
    display: flex;
}
.align-item-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-right {
    justify-content: right;
}

.justify-between {
    justify-content: space-between;
}
.gap {
    gap: 2rem;
}

/*
 * ─── 🎃 HEADER ─────────────────────────────────────────────────────────────────────
 */

.logo {
    font-size: 24px;
    font-weight: bold;
}
.navigation-link {
    font-size: 16px;
    font-weight: 500;
}

/*
 * ─── 🍍 SECTION 2 ──────────────────────────────────────────────────────────────────
 */
.section-2 {
    height: 100%;
    margin-top: 4rem;
}
.s2-left {
    width: 704px;
}
.s2-left h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;
}

.s2-right {
    width: 496px;
}
.s2-img-container {
    background-image: url("./images/Circle-design.svg");
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
.s2-img-container img {
    height: 410px;
}

/*
 * ─── 🍉 SECTION 3 ──────────────────────────────────────────────────────────────────
 */

.section-3 {
    margin-top: 2rem;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    padding: 5px;
    border-image-source: linear-gradient(to left,#fdfdfd, #f3f3f3, #fdfdfd);
}